*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(298deg , var(--bg-atual), var(--bg-atual)); 
    position: relative;
    

}

header{
    width: 100%;
    height: 80px;
     background:linear-gradient(90deg , var(--bg-atual),rgba(0, 0, 0, 0), var(--bg-atual)); 
    backdrop-filter: blur(0px);
    
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decor-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 150%; 
  
  pointer-events: none;
  z-index: 0;
  transform-origin: top left;
  transform: rotate(35deg) translateY(-50%);
}

.decor-line-2 {
  position: fixed;
  top: 0px;
  right: 0px;
  
  width: 150%; 
  
  pointer-events: none;
  z-index: 0;
  
  transform: rotate(-35deg) translateY(50%);
}


main{
    border-radius: 70px 70px 0px 0px;
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(90deg , var(--bg-atual),rgba(0, 0, 0, 0), var(--bg-atual)); 
    backdrop-filter: blur(0px);
    padding: 30px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    flex: 1;
}
.container-info{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    color: black;

}

.container-info img{
    width: 400px;
    border-radius: 20px;
    position: absolute;
    left: 70px;
}
.container-itens {
    border-radius: 30px;
    width: 50%;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
    background-color: var(--background);
}

.item.active {
    display: block;
    
}
h1{
    font-size: 2rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}
.h2{
    padding: 7px;
    border-radius: 30px;
    background-color: whitesmoke;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
    
}

.item .title{
    font-size: 12rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}


.item .fruta{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    animation: float 3s ease-in-out infinite;
    z-index: 3;
}

.item .refri{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
}


#prev,  #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.205);
    cursor: pointer;
    user-select: none;
    z-index: 5;
    border-radius: 50%;
    font-family: monospace;
}

#prev{
    left: 10px;
    padding: 10px 15px 12px 15px;
}

#next{
    right: 10px;
    padding: 10px 15px 12px 15px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
        transition: all 0.9s ease-in-out;        
    }
    to {
        top: 0%;
        opacity: 1;
        transition: all 0.9s ease-in-out;   
        
    }
}

@keyframes toActiveFruta{
    from{
        left: 100%;
        opacity: 0;
        transform: scale(0.8);
        transition: all 0.9s ease-in-out;   
    }
    to {
        left: 40%;
        opacity: 1;
        transform: scale(1);
        transition: all 0.9s ease-in-out;   
    }
}
.item.active img.fruta {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active .title {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active img.refri {
    animation: toActiveFruta 0.5s ease-in-out 1;
}