.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
    background-color: var(--background);
}

.item.active {
    display: block;
    
}

.item .title{
    font-size: 12rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}


.item .fruta{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    animation: float 3s ease-in-out infinite;
    z-index: 3;
}

.item .refri{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
}


#prev,  #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.205);
    cursor: pointer;
    user-select: none;
    z-index: 5;
    border-radius: 50%;
    font-family: monospace;
}

#prev{
    left: 10px;
    padding: 10px 15px 12px 15px;
}

#next{
    right: 10px;
    padding: 10px 15px 12px 15px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
        
    }
    to {
        top: 0%;
        opacity: 1;
        
    }
}

@keyframes toActiveFruta{
    from{
        left: 100%;
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        left: 40%;
        opacity: 1;
        transform: scale(1);
    }
}
.item.active img.fruta {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active .title {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active img.refri {
    animation: toActiveFruta 0.5s ease-in-out 1;
}