*, html, body {
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    
    color: white;
}
body{
    background-color: rgb(255, 255, 255);
}

.io{
    filter: drop-shadow(0 4px 30px rgb(8, 53, 255));
    
}
main{
    
    
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;


}



header{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(21deg, rgb(251, 174, 60), rgb(0, 18, 32), rgb(0, 18, 32));
    width: 100%;
    height: 10vh;
    color:white;
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1{
    background: none;
}

footer{
    background-color: red;
}



@media (max-width: 750px) {
    .ola{
        background:none;
        width: 200px;
        position: absolute;
        top: 2vh;
        left: 50%;
        

    }

    .apresent, .texto{
        background-image: url(/fundo.svg);
    background-size: cover;
    height: 300px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.39);
    }

    button{
        width: 100px;
        height: 20px;
    }


    h2{
        margin: 10px;
        
    }
    
    p{
        margin: 10px;
        width: 150px;
        font-size: 10px;
    }

    .texto{
        padding: 20px;

    }


    .barra1{
        background-color: rgb(211, 245, 255);

        width: 200px;
        height: 20px;
         left: -20px;
        top: 25vh;
    }

    .barra1, .barra2{
        display: none;
        position: absolute;
        border-radius: 40px;
    }

    .barra2{
        left: -20px;
        top: 30vh;
        background-color: rgb(255, 211, 245);

        width: 300px;
        height: 20px;
    }
}