*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: repeat-y;
    background-image: var(--bg-atual);
}

header{
    background-color: rgba(0, 0, 0, 0.322);
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(30px);
}
header::before{
    content: '';
    animation: run 5s linear infinite;
    background-color: rgba(0, 0, 0, 0.322);
    width: 100%;
    height: 100%;
    
}
.divv{
    display: none;
    position: relative;
    width: 100%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    overflow: hidden;
    
}

@keyframes run {
0%{ trasnforme:translateX(-15px);
}
100%{
    left: 100%;
}
}

.divv::before{
    content: '';
    
    position: absolute;
    
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.521);
    box-shadow: 0 0 15px rgb(255, 2, 2);
    animation: run 5s linear infinite;
}

.header{
    padding: 10px 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    

}

h1, .h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
    
}


.navegacao{
    display: flex;
}

ul{
    display: flex;
    gap: 10px;
}

li, a{
    color: rgb(247, 247, 247);
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
}
@keyframes animationLine{
    0%{
        transform: translateY(0%) rotate(90deg) scaleY(2);
    }

    50%{
        transform: translateY(10%) rotate(90deg) scaleY(2);
    }
    100%{
        transform: translateY(0%) rotate(90deg) scaleY(2);
    }




}
li::after{
    animation: animationLine 1.3s  infinite calc(var(--i) * -0.15s) ;
    content: '>';
    font-size: 10px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transform: rotate(90deg);

}


main{
    
    flex: 1;
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(30px);
    

}



.banner{
    width: 100%;
    height: 400px;
    
    position: relative;
    overflow: hidden;
}


.cont-banner{
    background-image: var(--background-image);
    display: none;
    height: 100%;
    width: 100%;
    background-size: 100% ;
    background-repeat: no-repeat;

    object-fit: cover;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.247);
    
}

.cont-banner.active{
    display: block;
}

.cont-banner::after{
    content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.692); /* Cor escura com transparência */
  filter: blur(10px); /* Desfoque */
  z-index: -1; /* Coloca atrás do conteúdo principal */
  transform: scale(1.05);

}


#prev,  #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: x-large;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.425);
    cursor: pointer;
    user-select: none;
    z-index: 5;
    border-radius: 50%;
    font-family: monospace;
}

#prev{
    left: 10px;
    padding: 10px 15px 12px 15px;
}

#next{
    right: 10px;
    padding: 10px 15px 12px 15px;
}


.container-section{
    
    height: 1000px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.432);
}

.container-conteudo{
    width: 100%;
    padding: 30px;
}


footer{
    width: 100%;
    background-color: white;
}